/*------------------- ヘッダー画面 ---------------------------------*/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 200px; /*高さ*/
  background-size: auto 100% ;
  background: url(header2.jpg) center;
}

#header .Webtitle {
  display: block;
}

#header .logo {
   font-family: 'Yesteryear', cursive;
   color: white
}


h3 {
  color: red 
}
